{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}

<h2>Bem-vindo ao +Games: Explorando o Universo dos Jogos de Vídeo Game!</h2>

<p>Seja você um veterano nos consoles ou alguém em busca das últimas notícias e análises sobre os jogos mais quentes, 
    você está prestes a embarcar em uma jornada emocionante no +Games. Aqui, no epicentro do mundo dos jogos, reunimos 
    uma equipe de entusiastas apaixonados dedicados a fornecer a você insights exclusivos, análises detalhadas e informações 
    de primeira linha sobre seus jogos favoritos.</p>

<h3>Quem Somos:</h3>

<p>+Games é um espaço criado por gamers, para gamers. Nossa equipe é composta por aficionados por jogos, redatores 
    especializados e especialistas em tecnologia, todos unidos por uma paixão comum: os jogos de vídeo game. Estamos 
    comprometidos em levar até você conteúdo autêntico e envolvente que vai além do superficial.</p>

<h3>O que Oferecemos:</h3>

<p>No +Games, oferecemos uma diversidade de conteúdo, desde análises minuciosas dos lançamentos mais recentes até 
    insights sobre as últimas tendências da indústria. Cobrimos uma ampla variedade de plataformas, gêneros e curiosidades, 
    garantindo que cada leitor encontre algo que o atraia.</p>

<h3>Missão:</h3>

<p>Nossa missão é desbravar as vastas terras dos jogos de vídeo game, proporcionando a você uma visão aprofundada e 
    informada desse universo incrível. Buscamos inspirar conversas significativas e construir uma comunidade vibrante e engajada.</p>

<h3>Compromisso com a Comunidade:</h3>

<p>A comunidade +Games é uma família de jogadores entusiastas. Valorizamos suas opiniões e incentivamos a interação. 
    Esteja à vontade para compartilhar suas experiências, sugestões de jogos e participar das discussões animadas que acontecem aqui. 
    Sua voz é fundamental para a riqueza do nosso espaço.</p>

<h3>Fique Conectado:</h3>

<p>Siga-nos nas redes sociais para receber as últimas atualizações, participar de enquetes divertidas e ter acesso a conteúdos 
    exclusivos. A jornada pelo universo dos jogos é melhor quando compartilhada, e mal podemos esperar para explorar, descobrir e 
    jogar junto com você no +Games!</p>

<p>Agradecemos por fazer parte da nossa comunidade.</p>

<p>Equipe +Games</p>

{% endblock content %}